body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    border-bottom: 4px double #000;
    padding-bottom: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

nav a {
    text-decoration: none;
    margin-left: 15px;
    color: #000;
}

main {
    border-bottom: 1px solid #000;
}

.column-container {
    display: flex;
    border-bottom: 4px double #000
}

section[class^="column"],
.left-column-projects {
    padding: 20px;
    flex: 1;
}

.left-column-projects,
.column-work-experience {
    border-right: 1px solid #000;
}

.left-column-projects ul {
    list-style: none;
    padding: 0;
}

.left-column-projects li {
    border-bottom: 1px solid #000;
    padding: 10px 0;
}

.column-education ul {
    list-style-type: "- ";
    padding-left: 20px;
}

.reviews {
    display: block;
    padding: 40px 20px;
    text-align: center;
}

.review-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

.review-cards div {
    border: 1px solid #000;
    border-radius: 25px;
    padding: 20px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 20px;
}

.no-lis li {
    list-style: none;
    margin-bottom: 5px;
    padding: 0;
}

.icon {
    width: 50px;
    height: auto;
}

.logo {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    top-bar {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .column-container {
        flex-direction: column;
    }

    .left-column-projects,
    .column-work-experience {
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .review-cards {
        flex-direction: column;
        gap: 20px;
    }

    .left-column-projects li {
        background-color: #f4f4f4;
        margin-bottom: 5px;
        padding: 10px;
        border: 1px solid #000;
        text-align: center;
    }
}