body {
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    margin: 0;
}

header,
main {
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: medium;
    color: green;
}

h3 {
    font-size: medium;
    color: blueviolet;
}

address {
    font-style: normal;
}